/* TODO: nice css for report pages */
@font-face {
   font-family: 'Lato';
   src: url('../css/Lato-Regular.ttf') format('truetype');
}

html,
body {
   /* padding: 1.5%; */
   padding: 1rem;
   font-family: Lato;
}

h1 {
   text-decoration: underline;
}

.group-report-imgs img {
   max-height: 500px;
}

.invert {
   background-color: black;
   color: white;
   overflow-y: hidden;
   overflow-x: auto;
   border: 1px solid red;
}

p {
   /* 
      A paragraph can be at most 100 characters wide, then overflows to the
      next line (easier to read)
   */
   max-width: 100ch;
   font-size: 1.1rem;
}

code {
   color: #188038;
   font-family: 'Courier New', Courier, monospace;
   font-weight: bold;
}